# Byte-compiled / optimized / DLL files
.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
**ipynb*
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
**data
**tempdata

# Configs
**config.py

# Folders
**/datasets
**/models